:root {
    --white-text: #fcfcfc;
}

p {
    line-height: normal;
    margin-bottom: 1rem;
}

h2 {
    margin-top: 24px;
    border-top: 1px solid #e1e4e5;
    padding-top: 24px;
}

footer {
    display: none;
}

.wy-menu-vertical {
    li, ul, a {
        background-color: #343131 !important;
        color: var(--white-text) !important; 
    }
    li > ul {
        display: block !important;
    }
    .toctree-l1 {
        > a {
            font-size: 1.1rem;
            color: #55a5d9 !important;
            border: none !important;

            padding-left: 1em !important;
        }
    }
    a:hover {
        text-decoration: underline;
    }
    a:focus-visible{
        outline: 2px solid var(--white-text);
        outline-offset: -0.25em;
        border-radius: 5px;
    }

    .caption + ul {
        padding-left: 19px;
        .toctree-l1 {
            > a {
                font-size: 1rem !important;
                color: var(--white-text) !important;
            }
        }
    }
}

.fa-home::before, .icon-home::before {
  content: "";
}